.navBar {
    background: #efefef;
}

.navBar a {
    font-family: sans-serif;
    font-size: 20px;
    text-decoration: none;
    float: left;
    text-align: center;
    padding: 1em;
}

#main {
    width: 75%;
    background: darkorchid;
    float: left;
}

#sidebar {
    width: 25%;
    background: pink;
    float: right;
}

#sidebar ul {
    text-align: left;
}

#sidepic {
    width: 100%;
}

#footer {
    background: azure;
}

#snape {
    height: 100vh;
    width: 100vw;
}

#dumbledore {
    background-color: #eee;
    width: 800px;
    height: 800px;
}

#dumbledore img {
    display: block;
    margin: 0 auto;
}



/* Media Queries */
@media screen and (max-width: 600px) {
    .navBar a {
        float: block;
        width: 100%;
    }

    #main {
        float: none;
        clear: both; 
        width: 100%;
    }

    #sidebar {
        float: none;
        clear:both;
        width: 100%;
    }
} 