* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Fonts */
/* font-family: 'DM Serif Display', serif;
font-family: 'Open Sans', sans-serif; */
h1 {
    font-family: 'DM Serif Display', serif;
    font-size: 3em;
    line-height: 1;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.4em;
}

h1::selection {
    background: black;
    color: white;
}

h2::selection {
    background: black;
    color: white;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1em;
    line-height: 1.4;
}

p::selection { 
    background: black;
    color: white;
}

/* Layout */
.wrapper {
    max-width: 1200px;
    margin: 4em auto;
    background: #fff;

    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 4fr;
}

/* Side Navbar */
.sidebar {
    background-color: #fff;
    padding: 2em;
    float: left;
}

/* .sidebar {
    height: 100%;
    width: 240px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    overflow: auto;
} */

.sidebar ul {
    list-style: none;
    align-items: center;
    text-align: right;
    padding: 1em;
    height: 100vh;
    top: 0;
}

.sidebar li a {
    text-decoration: none;
    color: #0C4439;
    font-family: 'DM Serif Display', serif;
    font-size: 24px;
}

li a:hover {
    color: #FD75BA;
}

.burger-icon{
    display: none;
}

/* Portfolio Cards */
.main {
    background-color: #fff;
    display: grid;
    /* grid-template-rows: auto max-content; */
    grid-auto-rows: max-content;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    grid-gap: 1em;
}

.card {
    padding: 2em;
    width: 100%;
    height: max-content;
    grid-auto-rows: 0;
    /* grid-auto-flow: dense; */
    /* grid-auto-rows: max-content; */;
}

.card img {
    width: 100%;
    border: 10px solid white;
}

#proj-info-icon{
    border: none;
    width: 2em;
    margin-right: 1em;
}

/* About */
.about  {
    background: #F5EC47;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4em;
    padding: 4em;
}

.about-top {
    color: #FD75BA;
}

.about-top img {
    width: 100%;
    border: 10px solid white;
}

.mobile-img {
    display: none;
}

.desktop-img{
    padding-bottom: 2em;
}

/* Contact Page */
.contact {
    background: #FD75BA;
    height: max-content;
    display: grid;
    padding: 4em;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: max-content;
    grid-gap: 1em;
}

.social-contact{
    text-align: center;
    background: #F5EC47;
    padding: 1em;
}

.social-contact:hover{
    background: #C2E0E2;
}

/* Footer */
.footer {
    grid-column: 2/5;
    padding: 1em;
    text-align: right;
}

@media only screen and (max-width: 900px) {
    .wrapper {
        display:grid;
        margin: 1em;
    }

    .sidebar {
        display: none;
    }

    #mobile-nav {
        display: block;
        grid-column: 1/5;
        height: max-content;
        margin-bottom: 1em;
    }

    #mobile-nav img {
        width: 25%;
        padding-bottom: 10px;
    }

    #mobile-nav ul {
        display: none;
        padding: 2em;
    }

    .navbar-toggler{
        border: none;
        float: right;
        background: #fff;
        align-items: center;
    }

    .burger-icon {
        display: block;
        font-size: 3em;
    }

    #myLinks{
        height: max-content;
        background: #F5EC47;
    }

    #myLinks a:hover{
        color: white;
        background: #F4B2B1;
    }

    .main {
        grid-column: 1/5;
        /* grid-column: 1fr 1fr; */
    }

    .card {
        grid-column: 1/5;
    }

    .footer {
        grid-column: 1/5;
    }

    .about {
        grid-column: 1/5;
    }

    .about-top h1{
        text-align: center;
    }
    .about-top h2 {
        text-align: center;
    }

    .about-main {
        grid-column: 1/5;
    }

    .mobile-img{
        display: block;
        padding-bottom: 1em;
    }

    .desktop-img {
        display: none;
    }

    .contact {
        grid-column: 1/5;
    }
}


/* Fun Colors */

/* Cards */
.card:nth-child(1n+0) {
    background-color: #F4B2B1;
    color: #0C4439;
}

.card:nth-child(2n+0) {
    background-color: #F96E47;
    color: #C2E0E2;
}

.card:nth-child(3n+0) {
    background-color: #F5EC47;
    color: #FD75BA;
}

.card:nth-child(4n+0) {
    background-color: #C2E0E2;
    color: #F96E47;
}

.card:nth-child(5n+0) {
    background-color:#FD75BA;
    color: #F5EC47;
}

.card:nth-child(6n+0) {
    background-color: #0C4439;
    color: #F4B2B1;
}

/* Card Icons */

#proj-info-icon:hover{
    fill: #0C4439;
    /* background: #C2E0E2; */
}