/*-----Root Element Size-----*/
html {
    height: 100%;
}
body {
    height: 100%;
}

/* p {
    padding: 1.5em;
} */

h1 {
    font-family: phoreuscherokee, serif;
    font-weight: 300;
    font-style: normal;
    font-size: 2.5rem;
}

/*-----Nav Bar-----*/
#navBar {
    background-color: #efefef;
    height: 4em;
    width:100%;

}

/*-----Profile Picture-----*/
#profPic {

}

/*-----About Me "Form" Profile-----*/
#lexProf {
    background-color: #efefef;
    font-family: Georgia, Times, 'Times New Roman', serif;
    padding: 2rem;
    height:100%;
    width:100%;
    position: inline-block;

}

#boxLine {
    background-color: white;
    position: inline-block;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/*-----Random Quiz Generator-----*/
#magicGen {
    background-color: #F25252;
    margin: 1% solid white;
    height:60%;
    width:100%;
    position: block;
    float: left;

}

/*-----Featured Art-----*/
.myArt {
    background-color: white;
    height:60%;
    width:50%;
    float: left;

}

/*-----Contact Form-----*/
.contactMe {
    background-color:#EFEFEF;
    height:60%;
    width:50%;
    display: inline-block;
    float: right;

}

/* About Me Page */

#aboutPar {
    padding: 2em;
    margin: 1rem;
    width: 98%;
    background-color: #efefef;
}

#linkedIn {
    width: 100px;
    height: 40px;
    padding: .25em;
    background-color: pink;
    border: none;
    color:rgb(21, 21, 21);
    text-decoration: none;
    display: inline-block;
    text-align: center;
}

#insta {
    height: 40px;
    width: 100px;
    background-color: hotpink;
    border: none;
    padding: .25em;
    color: white;
    text-align: center;
    display: inline-block;
}
