/*Google Fonts
font-family: 'Playfair Display', ;
font-family: 'Roboto Condensed', ;
font-family: 'Roboto', ;*/

/*-----Root Element Size-----*/
html {
    height: 100%;
}
body {
    height: 100%;
}

p {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    line-height: 1.7em;
}

h1 {
    font-family: Playfair-Display, Times, serif;
    font-weight: 300;
    font-style: normal;
    font-size: 3.5rem;
    color: #3F4B54;
}

/* -----Nav Bar Not Responsive----- */
.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: #F7A9A6;
}

/* Clear Fix - how is this working? Set up as a class? */
header::after {
    content: "";
    display: table;
    clear: both;
}

#headLogo {
    float: left;
    width: 50px;
    padding: 10px 0;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 20px;
    padding-top: 27px;

    position: relative;
}

nav a {
    color: #EEEADE;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Roboto Condensed, sans-serif;
    font-size: 18px;
}

nav a::before {
    content: "";
    display: block;
    height: 5px;
    width: 100%;
    background-color:#3F4B54;

    position: absolute;
    top: 0;
    width: 0%;
}

nav a:hover::before {
    width: 100%;
    transition: all ease-in-out 250ms;
}

.active {
    color: #3F4B54
}


/* Profile Picture */

#profPic img {
    display: block;
    height: auto;
    width: 25%;
    border-radius: 50%;
    margin-top: 80px;
    /* margin-left: 200px; */
}

/* Main Greeting*/

#mainGreeting {
    display: block;
    width: 40%;
    background-color: #EEEADE;
    padding: 1em;
    margin-left: 250px;
    margin-top: -120px;
}

#mainHeading {
    display: block;
    margin-left: 200px;

}

/* About Me Page Text */

#aboutPar {
    background-color: #EEEADE;
    color: #3F4B54;
    padding: 2em;
}

.social {
    background-color: #D19064;
    padding: 1em;
    border-radius: 4px;
}