/* Change this in dark/light mode */
body::selection {
    /*   background: #BD7E5C;  orange*/
    /*   background: #C28B97; purple*/
      background: #222;
      color: #f9f9f9;
    }
    
    .container{
      background: #f9f9f9;
      max-width: 1000px;
      margin: 0 auto;
    }
    
    .header{
      display:grid;
      grid-template-columns: 6fr 2fr 3fr;
      margin: 100px auto;
      padding: 3em;
    }
    
    .heading{
      font-family: Playfair Display;
      font-size: 3em;
      color: #222;
      margin-left: 30px;
      align-self: end;
    }
    
    .header img {
      align-self: end;
    }
    
    .nav {
      align-self: end;
    }
    
    .nav ul {
      list-style: none;
    }
    
    .nav li {
      text-transform: uppercase;
      font-family: Roboto;
      border-left: 1px solid #222;
      padding-left: 1em;
    }
    
    .nav a{
      text-decoration: none;
      color: #222;
      line-height: 1.8;
    }
    
    .nav a:hover{
      color: #C28B97;
    }

    #dark-mode{
      
    }
    
    .portfolio {
      padding: 2em;
      margin: 0 30px 0 30px; 
    }
    
    /* Accordion Menu */
    button{
      border: none;
    }
    
    .accordion {
      display: grid;
      color: #444;
      background-color: #f9f9f9;
      cursor: pointer;
      padding: 1em;
      width: 100%;
      border-bottom: 1px solid #222;
      text-align: left;
      font-size: 1em;
      transition: 0.4s;
    }
    
    .lora {
      font-family: "Playfair Display", serif;
      font-weight: 800;
      font-style: italic;
      font-size: 24px;
      display: inline;
    }
    
    .active, .accordion:hover {
      color: #C28B97;
    }
    
    .accordion:after {
      content: '\002B';
      color: #777;
      font-weight: bold;
      float: right;
      margin-left: 5px;
    }
    
    .active:after {
      content: "\2212";
    }
    
    .project {
      display: grid;
      padding-top: 1em;
      background-color: #f9f9f9;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
      margin-bottom: 30px;
    }

    .project-holder {
      height: max-content;
    }
    
    .project p{
      font-family: "Roboto", sans-serif;
    }
    
    .project img{
      grid-column: 1fr;
      margin-bottom: 1em;
      width: 100%;
    }
    
    .project .button{
      text-decoration: none;
      text-align: center;
      width: 150px;
      background-color: #C28B97;
      color: #f9f9f9;
      font-family: "Roboto", sans-serif;
      font-size: 1em;
      text-transform: uppercase;
      font-weight: 600;
      padding: 15px;
      border: 1px solid #C28B97;
    }
    
    .project .button:hover{
      background-color: #f9f9f9;
      color: #C28B97;
      border: 1px solid #C28B97;
    }
    
    footer{
      margin: 2em auto;
      text-align: center;
    }
    
    @media screen and (max-width: 785px){
      
      .header{
        display: grid;
        grid-column: 1fr;
        margin: 0 auto;
        padding: 1em;
        justify-self: end;
      }
      
      .header img{
        align-self: center;
        justify-self: start;
        padding-top: 2em;
      }
      
      .nav{
        justify-self: center;
      }
      
      .heading{
        grid-column: 1/-1;
        margin: 0;
      }
      
      .portfolio{
        width: 90%;
        margin: 0 auto;
        padding: 1em;
      }
      
      .accordion{
        font-size: 1.3em;
      }
      
    }
    
    @media screen and (max-width: 440px){
      
      .header{
        display: grid;
        margin: 0 auto;
        padding: 1em;
      }
      
      .header img{
        justify-self: end;
        width: 150px;
        align-self: center;
        padding-top: 1em;
      }
      
      .nav{
        width: 200px;
        line-height:2;
      }
      
      .heading{
        grid-column: 1/-1;
        margin: 0;
      }
      
      .portfolio{
        width: 90%;
        margin: 0 auto;
        padding: 1em;
      }
      
      .accordion{
        font-size: 1em;
      }
    }

    .dark-mode{

    }

    #dark-mode {
      background: transparent;
    }

